@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #283c50;
  --color-greytone: #e9ecef;
  --color-darkgreytone: #64748b;

  --color-hoverblue: #3454d1;
}

body {
  font-family: Inter, ui-sans-serif, system-ui;
}
